{% set stunnel = salt['pillar.get']('stunnel', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'stunnel4',
            'service': 'stunnel',
            'default_user': 'stunnel4',
            'default_group': 'stunnel4',
            'home': '/var/lib/stunnel4',
            'conf_dir': '/etc/stunnel',
            'log_dir': '/var/log/stunnel',
            'open_file_limit': '65536'
        }
    }, default='Debian'),
    'config': {
        'pid': '/var/run/stunnel.pid'
    }
}, merge=True)%}

{% set lookup = salt['pillar.get']('stunnel:lookup', salt['grains.filter_by']({
    'upstart': {
        'init_file': '/etc/init/stunnel.conf'
    },
    'systemd': {
        'init_file': '/etc/systemd/system/stunnel.service'
    }
}, grain='init'), merge=True)
%}

 {% do stunnel.lookup.update(lookup) %}
